:root{
    --yellow-100 : #f2e587;
    --yellow-50 : #fff7bb;

    --purple-100 : #abb9ff;
    --purple-50 : #cdeafa;

    --deepgreen-100 : #9be2c0;
    --deepgreen-50 : #cdf1df;

    --purewhite-100 : #ffffff;
    --purewhite-50 : #F7F8F3;

    --indigo-100: #04395E;
    --indigo-50 : #4F748E;
    --indigo-20 : #ebeeff;

    --red-100 : #D9371B;
    --red-50 : #FCEBE9;

    --green-100 : #0DBD7E;
    --green-50 : #E9FCF5;

    --darkgrey-100 : #3b3941;
    --darkgrey-50 : #efefef;

    --orange-100 : #f9c07d;
    --tealgreen-100 : #009b87;

}

/* #common for all */
.bg_yellow-100 {
    background-color: var(--yellow-100);
}

.bg_yellow-50 {
    background-color: var(--yellow-50);
}

.bg_purple-100 {
    background-color: var(--purple-100);
}

.bg_purple-50 {
    background-color: var(--purple-50);
}

.bg_deepgreen-100 {
    background-color: var(--deepgreen-100);
}

.bg_deepgreen-50 {
    background-color: var(--deepgreen-50);
}

.bg_purewhite-100 {
    background-color: var(--purewhite-100);
}

.bg_purewhite-50 {
    background-color: var(--purewhite-50);
}

.bg_indigo-100{
    background-color: var(--indigo-100);
}

.bg_indigo-50 {
    background-color: var(--indigo-50);
}

.bg_indigo-20 {
    background-color: var(--indigo-20);
}

.bg_red-100 {
    background-color: var(--red-100);
}

.bg_red-50 {
    background-color: var(--red-50);
}

.bg_green-100 {
    background-color: var(--green-100);
}

.bg_green-50 {
    background-color: var(--green-50);
}

.bg_orange-100 {
    background-color: var(--orange-100);
}

.bg_darkgrey-100 {
    background-color: var(--darkgrey-100);
}

.bg_darkgrey-50 {
    background-color: var(--darkgrey-50);
}

.bg_tealgreen-100 {
    background-color: var(--tealgreen-100);
}

.bg_transparent{
    background-color: transparent !important;
}

.yellow-100 {
    color: var(--yellow-100);
}

.yellow-50 {
    color: var(--yellow-50);
}

.purple-100 {
    color: var(--purple-100);
}

.purple-50 {
    color: var(--purple-50);
}

.deepgreen-100 {
    color: var(--deepgreen-100);
}

.deepgreen-50 {
    color: var(--deepgreen-50);
}

.purewhite-100 {
    color: var(--purewhite-100);
}

.purewhite-50 {
    color: var(--purewhite-50);
}

.indigo-100{
    color: var(--indigo-100);
}

.indigo-50 {
    color: var(--indigo-50);
}

.indigo-20 {
    color: var(--indigo-20);
}

.red-100 {
    color: var(--red-100);
}

.red-50 {
    color: var(--red-50);
}

.green-100 {
    color: var(--green-100);
}

.green-50 {
    color: var(--green-50);
}

.orange-100 {
    color: var(--orange-100);
}

.darkgrey-100 {
    color: var(--darkgrey-100);
}

.darkgrey-50 {
    color: var(--darkgrey-50);
}

.tealgreen-100 {
    color: var(--tealgreen-100);
}

.nav-link{
    border-bottom: 2px solid #0000;
    transition: all .4s
}

.nav-link:hover {
    color: var(--tealgreen-100);
}

.accordion-button:not(.collapsed) {
    color: var(--darkgrey-100);
    background-color: transparent;
    box-shadow: none
}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: none
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}


.button_primary:hover{
    color: var(--purewhite-100);
}

.button_secondary:hover{
    color: var(--darkgrey-100);
}

.button_third:hover{
    color: var(--darkgrey-100);
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid #878787;
}

.carousel-indicators .active{
    background-color: #3B3941;
}

.color-reveal img {
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.color-reveal img:hover {
    filter: grayscale(0%);
}

.tab-view-points{
    max-width: 850px;
    margin: auto;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--darkgrey-100)
}



.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 8px
}

.only-tab{
    display: none;
}

.scroll-blur{
    backdrop-filter: blur(5px);
}

.scroll-top{
    scroll-margin-top: 90px;
}

.static-nav-blur{
    backdrop-filter: blur(5px);
}

.paragraph_dotted{
    display: -webkit-box;
    max-width: fit-content;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.image-contain-section {
    max-width: 460px;
    overflow: hidden
}

.address-radio {
    border: 1px solid var(--darkgrey-100);
    border-radius: 16px;
    padding: 1rem 1rem 1rem 2rem;
}

.address-select {
    border: 1px solid var(--darkgrey-100);
    border-radius: 16px;
    padding: 1rem 1rem 1rem 2rem;
}

.nav-colored{
    background-color: #ffffff;
}

.nav-transparent{
    background-color: transparent;
}

#navmenu-item{
    background-color: #ffffff;
}

.navmenu-link{
    background-color: #ffffff;
}

.input-field-box{
    border-radius: 8px;
    border: 1px solid var(--darkgrey-100);
}

.input-radio-box {
    width: 20px;
    height: 20px;
    background: var(--darkgrey-50)
}

.input-check-box {
    width: 24px;
    height: 24px;
    background: var(--darkgrey-50);
    border-radius: 4px
}

.tooltip-inner {
    font-family: "Questrial";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.3px;
    line-height: normal;
    width: fit-content;
    background-color: var(--purple-50);
    opacity: 1 !important;
    border: 1px solid var(--indigo-50);
    border-radius: 8px;
    text-align: inherit;
    color: var(--darkgrey-100)
}

.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: var(--indigo-50) !important
}

.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var(--indigo-50) !important
}

.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--indigo-50) !important
}

.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--indigo-50) !important
}

.range-slider {
    width: 100%
}

.range-slider__range {
    -webkit-appearance: none;
    width: 95%;
    height: 8px;
    border-radius: 4px;
    background: var(--purple-50);
    outline: 0;
    padding: 0;
    margin: 0
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--purple-100);
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: var(--purple-100)
}

.range-slider__range:active::-webkit-slider-thumb {
    background: var(--purple-100)
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: var(--purple-100);
    cursor: pointer;
    -moz-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out
}

.range-slider__range::-moz-range-thumb:hover {
    background: var(--purple-100)
}

.range-slider__range:active::-moz-range-thumb {
    background: var(--purple-100)
}

.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px var(--purewhite-50), 0 0 0 6px var(--purple-100)
}

::-moz-range-track {
    background: var(--purewhite-50);
    border: 0
}

.product-width{
    max-width: 1440px;
}

.progress{
    height: 4px;
    background-color: var(--purple-50);
}

.progress-bar{
    background-color: var(--tealgreen-100);
}

.progress-bar-green{
    background-color: var(--green-100);
}

.radio-toolbar input[type=radio]:checked+label,
.radio-toolbar label:hover {
    background-color: var(--green-50);
    color: var(--tealgreen-100);
    border: .5px solid var(--tealgreen-100);
    cursor: pointer;
}

.radio-toolbar input[type=radio] label {
    border: .5px solid var(--purple-100)
}

.radio-toolbar label {
    display: inline-block;
    padding: 12px;
    border: .5px solid var(--darkgrey-100);
    border-radius: 8px
}

.radio-toolbar input[type=radio] {
    opacity: 0;
    width: 0
}

.radio-toolbar::-webkit-scrollbar-thumb {
    background-color: var(--purple-100);
    border-radius: 5px;
    height: 20px
}

.radio-toolbar::-webkit-scrollbar-track {
    border-radius: 5px
}

.radio-toolbar::-webkit-scrollbar {
    width: 8px;
    background-color: var(--purple-50);
    border-radius: 4px
}

/* #web */
@media only screen and (min-width:970px){

    .web-ps{
        padding-left: 2.5rem;
    }

    .navcontain {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        width: 210px;
        margin-right: 40px
    }

    .blogimage {
        height: 327px;
        transition: transform 1.2s;
        aspect-ratio: 3/2;
        object-fit: cover;
    }

    .blogimage:hover {
        transform: scale(1.2);
    }

    .blogcard {
        border-radius: 12px;
        max-width: 492px;
    }

    .spacing_img{
        justify-content: space-evenly;
    }

    .team-card{
        max-width: 18rem;
        border-radius: 16px;
        border: none
    }

    .video-size{
        max-width: 80%;
    }

    .owl-theme .owl-nav {
        position: absolute;
        right: 0;
        top: -113px
    }

    .component-padding{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .component-margin{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .common-padding{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .common-margin{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .containerframe {
        width: 1240px
    }

    .remove-padding {
        padding-left: 0px;
        padding-right: 0px;
    }

    .webhide{
        display: none;
    }

    .button_primary{
        padding:12px 24px;
        border-radius: 8px;
        color: var(--purewhite-100);
        background-color: var(--tealgreen-100);
    }

    .button_secondary{
        padding:10px 24px;
        border-radius: 8px;
        color: var(--darkgrey-100);
        background-color: transparent;
        border: 2px solid var(--darkgrey-100);
    }

    .button_third{
        padding:12px 24px;
        border-radius: 8px;
        color: var(--darkgrey-100);
        background-color: var(--darkgrey-50);
    }

    .clone-banner-height{
        height: 650px;
    }

    .newnavmargin {
        padding-top: 74px;
    }

    .product-card-padding{
        padding: 3rem;
    }

    .footeraline {
        text-align: end
    }

    .footeraline-follow,
    .footerfollow {
        justify-content: end
    }

    .footeraline_follow-center,
    .footertextaline {
        text-align: start
    }

    .footercontainer,
    .navcontainer {
        width: 81%
    }

    .footerpadding {
        padding-right: 3.5rem;
        margin-top: 4rem;
        padding-left: 0
    }

    .footerpadding2 {
        margin-top: 5.5rem
    }

    .footerhrtag {
        border: .5px solid var(--indigo-50);
        margin-top: 4rem;
        margin-bottom: 1.25rem
    }

    .footerpadding4,
    .footerpadding6 {
        margin-top: 4rem;
        padding-left: 0
    }

    .footertc {
        margin-bottom: 5rem;
        margin-top: 1rem
    }

    .footerpadding5 {
        margin-top: 4rem;
        padding-left: 1rem
    }

    .product-image {
        height: 522px;
        border-radius: 16px
    }

    .list-product-image {
        width: 144px;
        height: 144px;
        border-radius: 16px
    }

    .form-check-input:checked[type=radio] {
        background-color: var(--green-100);
        border: .5px solid var(--green-100);
        box-sizing: border-box;
        background-image: none
    }

    .form-check-input:checked[type=checkbox] {
        background-color: var(--green-100);
        border: .5px solid var(--green-100);
        box-sizing: border-box;
        padding: .5prx
    }

    .radio-toolbar {
        margin-left: 0;
        overflow: auto;
        max-height: 170px;
        overflow-y: scroll;
        scrollbar-color: var(--purple-100) var(--purple-10);
        scrollbar-width: thin
    }

}

/* #mob */
@media only screen and (max-width:969px){
    .mob-w{
        width: 100%;
    }

    .form-check-input:checked[type=radio] {
        background-color: var(--green-100);
        border: .5px solid var(--green-100);
        box-sizing: border-box;
        background-image: none
    }

    .form-check-input:checked[type=checkbox] {
        background-color: var(--green-100);
        border: .5px solid var(--green-100);
        box-sizing: border-box;
        padding: .5prx
    }

    .mob-select-margin{
        margin-bottom: 80px;
    }

    .blogcard {
        border-radius: 12px;
        max-width: 492px
    }

    .spacing_img{
        justify-content: space-between;
    }

    .team-card {
        max-width: 10rem;
        border-radius: 16px;
        border: none
    }

    .row-direction {
        flex-direction: column-reverse;
    }

    .video-size{
        max-width: 100%;
    }

    .mob-margin{
        margin-bottom: 2rem;
    }

    .owl-theme .owl-nav {
        position: absolute;
        right: 0;
        top: -96px
    }

    .common-padding{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .common-margin{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .component-padding{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .component-margin{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .mob-center{
        text-align: center;
        justify-content: center;
    }

    .mobhide{
        display: none;
    }

    .button_primary{
        padding:8px 16px;
        border-radius: 8px;
        color: var(--purewhite-100);
        background-color: var(--tealgreen-100);
    }

    .button_secondary{
        padding:8px 16px;
        border-radius: 8px;
        color: var(--darkgrey-100);
        background-color: transparent;
        border: 2px solid var(--darkgrey-100);
    }

    .button_third{
        padding:8px 16px;
        border-radius: 8px;
        color: var(--darkgrey-100);
        background-color: var(--darkgrey-50);
    }

    .clone-banner-height{
        height: 650px;
    }

    .reverse-direction{
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        display: -webkit-flex;
    }

    .newnavmargin {
        padding-top: 68px;
    }

    .product-card-padding{
        padding: 1rem;
    }

    .testimonial-image {
        max-width: 141.52px;
        margin: auto
    }

    .footerhrtag,
    .footerpadding2,
    .footerpadding3,
    .footertc {
        margin-top: 2rem
    }

    .footeraline,
    .footeraline_follow-center,
    .footertc,
    .footertextaline {
        text-align: center
    }

    .footeraline-follow,
    .footerfollow {
        justify-content: center
    }

    .footercolpadding {
        padding-left: 0;
        padding-right: 0
    }

    .footertc {
        margin-bottom: 4rem
    }

    .footerhrtag {
        border: .5px solid var(--indigo-50);
        margin-bottom: 1.25rem
    }

    .footercontainer,
    .mob-remove-padding {
        padding: 0
    }

    .footerpadding {
        margin-top: 1.5rem
    }

    .mob-px-remove{
        padding-left: 0px;
        padding-right: 0px;
    }

    .mob-newnavmargin-remove{
        padding-top: 0px;
    }

    .similar-mob-margin{
        margin-top: 1.5rem;
    }

    .product-image {
        height: 263px;
        border-radius: 16px
    }

    .list-product-image {
        width: 80px;
        height: 80px;
        border-radius: 16px
    }

    .radio-toolbar {
        margin-left: 0;
        overflow: auto;
        max-height: 170px;
        overflow-y: scroll;
        scrollbar-color: var(--purple-100) var(--purple-10);
        scrollbar-width: 8px;
        border-radius: 4px
    }

}

/* #tab */
@media only screen and (min-width:600px) and (max-width:969px){

    .product-width{
        width: 80%;
    }

    .tab-view-auto{
        margin-left: auto;
        margin-right: auto;
    }

    .tab-text-center{
        text-align: center;
    }

    .tab-center{
        justify-content: center;
    }

    .spacing_img{
        justify-content: space-evenly;
    }

    .remove-tab{
        display: none;
    }
    .row-direction {
        flex-direction: row;
    }

    .clone-banner-height{
        height: 380px;
    }

    .reverse-direction{
        flex-direction:row;
    }

    .tab-view-points{
        max-width: 360px;
        margin: auto;
    }

    .tab-footer-pd{
        padding-right: 3rem;
    }

    .only-tab{
        display: block;
    }

    .tabhide{
        display: none;
    }
}

/* #med */
@media only screen and (min-width:1167px) and (max-width:1264px){
    .containerframe {
        width: 1140px
    }
}

/* #small */
@media only screen and (min-width:1024px) and (max-width:1166px){
    .containerframe {
        width: 1000px
    }

    .last_img{
        margin: auto !important;
    }

    .footeraline{
        text-align: justify;
    }

    .list-product-image {
        width: 120px;
        height: 120px;
        border-radius: 16px;
    }
}
